.contact-banner {
  background: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgb(148, 148, 70)
    ),
    url("https://showwp.com/demos/shopist/upload/parallax_02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
}
.contact-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.side-path {
  font-weight: bold;
  color: black;
  font-size: 20px;
}
.contact-banner-text {
  color: white;
}
.field-level {
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}
.text-field {
  width: 35%;
  padding: 8px;
  font-size: 20px;
  border: 1px solid rgb(148, 148, 70);
  outline: none;
}
.text-field:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.textaria-field {
  height: 200px;
}
.mail-btn {
  border: none;
  margin-top: 25px;
  padding: 10px;
  color: white;
  background-color: rgb(148, 148, 70);
  font-weight: 600;
  margin-bottom: 70px;
}
.mail-btn:hover {
  background-color: tomato;
}
@media screen and (max-width: 960px) {
  .text-field {
    width: 80%;
  }
}
