.contact-banner {
  background-image: linear-gradient(
      to bottom,
      /* rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73) */
        rgba(245, 246, 252, 0.52),
      rgb(148, 148, 70)
    ),
    url("./Image/c-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 400px;
}
.contact-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.side-path {
  color: white;
  font-size: 20px;
}
.contact-banner-text {
  color: white;
}
.field-level {
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}
.text-field {
  width: 35%;
  padding: 8px;
  font-size: 20px;
  /* border: none; */
  border: 2px solid rgb(148, 148, 70);
  border-radius: 5px;
}
.text-field:hover {
  border: 2px solid rgb(91, 91, 238);
}
.textaria-field {
  height: 200px;
}
.mail-btn {
  border: none;
  margin-top: 25px;
  padding: 10px;
  color: white;
  background-color: rgb(148, 148, 70);
  font-weight: 600;
  margin-bottom: 10rem;
}
.mail-btn:hover {
  background-color: tomato;
}
@media screen and (max-width: 960px) {
  .text-field {
    width: 80%;
  }
}
